--- 
layout: archive 
author_profile: true
--- 

{{ content }}

<h1>Hey there. This is my story.</h1>

<p>Due to various events in my adolescence, I grapple with Avoidant Personality Disorder and anxieties. Honestly, I'm not a fan of those labels. Through my teenage and early adult years, I've often carried a negative mindset, contemplated shortcuts, hardly
    savored life, and barely explored the world. But there came a moment when I rebelled. I refuse to squander my life. I want to savor it to the fullest. I wholeheartedly embarked on the path of personal improvement. I still have a million things to
    refine, including some negative habits I've carried since my teenage years. This is my little corner where I'll document my profound personal transformation.</p>

<h2>I've segmented human capabilities into four categories to structure my discussions:</h2>
<ul>
    <li><strong>Occupational:</strong> Notes and comments pertaining to my endeavors toward a better lifestyle.</li>
    <li><strong>Body:</strong> I'll delve into my fitness journey, nutrition, routines to nurture my body...</li>
    <li><strong>Mind:</strong> Related to cultivating inner peace, exploring books, mindfulness, mental models...</li>
    <li><strong>Expressive:</strong> This is where I'll share opinions, reflections, expressions of gratitude, influences, goals...</li>
</ul>

<hr>

<p>With utmost authenticity and pure intent, devoid of any pretense. Love will forever remain the answer.</p>